.book-now-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #f79d00;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.booking-form input,
.guest-info input {
  display: block;
  width: 90%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.guest-title {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.price-info {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.confirm-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #f79d00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}

.confirm-btn:hover {
  background-color: #e68a00;
}
